body {
  color: #252525;
  background-color: #252525;
}

@font-face {
    font-family: 'Mona Sans';
    src:
      url('../../Fonts/Mona Sans/Mona-Sans.woff') format('woff supports variations'),
      url('../../Fonts/Mona Sans/Mona-Sans.woff') format('woff-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

h3 {
  font-weight: bolder;
  font-family: 'Mona-Sans';
}

a {
  color: white;
  text-decoration: none;
}

.qa-title {
  font-size: 22px;
}

.qa-main {
  background-color: #252525;
  font-family: 'Mona-Sans';
}

.search {
  color: white;
  width: 100%;
  height: 75px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 15px;
  background-color: #bb9d7b;
  font-family: 'Mona-Sans';
}

::placeholder {
  color: white;
}

.questions-list {
  max-height: 700px;
  overflow-y: auto;
  color: black;
}

.answers-list {
  max-height: 350px;
  overflow-y: auto;
}

.more-q {
  color: white;
  font-size: 15px;
  height: 50px;
  width: 250px;
  background-color: #bb9d7b;
  font-family: 'Mona-Sans';
  transition: all .2s ease-in;
}

.add-q {
  color: white;
  font-size: 15px;
  height: 50px;
  width: 250px;
  margin-left: 25px;
  background-color: #bb9d7b;
  font-family: 'Mona-Sans';
  transition: all .2s ease-in;
}

.add-q:hover{
  cursor: pointer;
  background-color: white;
  color: black;
}

.more-q:hover{
  cursor: pointer;
  background-color: white;
  color: black;
}

.question-entry {
}

.answer-entry {
  padding-top: 15px;
}

.modal-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, .5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.question-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40%;
  height: 60%;
  margin: auto;
  display: block;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: #252525;
  border: groove;
}

.answer-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40%;
  height: 60%;
  margin: auto;
  display: block;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: #252525;
  border: groove;
}

.modal-content {
  width: 500px;
  background-color: #fff;
}

.modal-header, .modal-footer {
  padding: 10px;
  text-align: center;
}

.modal-form {
  display: block;
  align-items: center;
}

.modal-title {
  margin: 0;
  color: white;
}

.modal-titles {
  color: white;
}

.modal-footers {
  color: #808080;
  font-size: 12px;
}

.modal-body {
  padding: 10px;
  display: block;
  text-align: center;
}

.modal-input {
  height: 150px;
  width: 75%;
  background-color: #252525;
  color: white;
  border: 1px solid #ddd;
}

.modal-nickname, .modal-email {
  width: 75%;
  background-color: #252525;
  color: white;
  border: 1px solid #ddd;
}

.modal-button {
  color: white;
  background-color: #bb9d7b;
  height: 50px;
  width: 150px;
  margin-top: 12.5px;
  font-size: 20px;
  transition: all .2s ease-in;
}

.modal-button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.btn {
  color: grey;
  font-size: 15px;
}

.q-tag {
  color: white;
  font-weight:bold;
  font-size: 22px;
  padding-right: 5px;
}

.a-tag {
  color: white;
  font-weight:bold;
  font-size: 22px;
  padding-right: 5px;
}

.q-body {
  color: white;
  font-weight:bold;
  font-size: 22px;
}

.a-body {
  color: white;
  font-size: 18px;
}

.more-answers {
  padding-top: 15px;
  padding-bottom: 15px;
}

.user {
  color: white;
  font-size: 15px;
}

.date {
  color: white;
  font-size: 15px;
}

.q-helpful {
  color: white;
  font-size: 15px;

}

.a-helpful {
  color: white;
  font-size: 15px;
}

.question-options {
  display: inline;
  float: right;
}

.yes {
  color: white;
  font-size: 15px;
  padding-left: 12.5px;
  padding-right: 5px;
  cursor: pointer;
}

.yes-count {
  color: white;
  font-size: 15px;
}

.vertical-bar {
  color: white;
  padding-left: 12.5px;
  padding-right: 12.5px;
  font-size: 17.5px;
}

.add-answer {
  color: white;
  font-size: 15px;
  padding-right: 10px;
  cursor: pointer;
}

.report {
  color: white;
  font-size: 15px;
}

.warning {
  color: #bb9d7b;
  font-weight: bold;
}

.warning-div {
  padding-bottom: 15px;
}

textarea:focus, input:focus {
  outline: none;
}