body {
  color: white;
}

h3 {
  font-weight: bolder;
}

.qa-main {
  background-color: white;
}

.search {
  width: 100%;
  height: 75px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  padding-left: 25px;
}

.questions-list {
  max-height: 700px;
  overflow-y: auto;
}

.answers-list {
  max-height: 350px;
  overflow-y: auto;
}

.more-q {
  color: grey;
  font-size: 12.5px;
  height: 50px;
  width: 250px;
}

.add-q {
  color: grey;
  font-size: 12.5px;
  height: 50px;
  width: 250px;
  margin-left: 25px;
}

.question-entry {
}

.answer-entry {
  padding-top: 15px;
}

.question-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 45%;
  margin: auto;
  background-color: #fff;
  display: block;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: .9;
  background-color: lightgray;
  border: groove;
}

.answer-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 45%;
  margin: auto;
  background-color: #fff;
  display: block;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: .9;
  background-color: lightgray;
  border: groove;
}

.modal-content {
  width: 500px;
  background-color: #fff;
}

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.modal-input {
  height: 150px;
  width: 75%;
}

.modal-nickname, .modal-email {
  width: 75%;
}

.btn {
  color: grey;
  font-size: 15px;
}

.q-tag {
  font-weight:bold;
  font-size: 25px;
  padding-right: 5px;
}

.a-tag {
  font-weight:bold;
  font-size: 25px;
  padding-right: 5px;
}

.q-body {
  font-weight:bold;
  font-size: 25px;
}

.a-body {
  font-size: 20px;
}

.more-answers {
  padding-top: 15px;
}

.user {
  font-size: 15px;
}

.date {
  font-size: 15px;
}

.q-helpful {
  font-size: 15px;

}

.a-helpful {
  font-size: 15px;
}

.question-options {
  display: inline;
  float: right;
}

.yes {
  font-size: 15px;
  padding-left: 12.5px;
  padding-right: 5px;
}

.yes-count {

}

.vertical-bar {
  padding-left: 12.5px;
  padding-right: 12.5px;
}

.add-answer {
  font-size: 15px;
  padding-right: 10px;
}

.report {
  font-size: 15px;
}

.warning {
  color: red;
  font-weight: bold;
}