/*
  ========================================
  List
  ========================================
*/
.card-row {
  min-width: 960px;
  background: #fff;
  padding: 36px 0 14px 0;
  overflow: auto;
}
.card-grid {
  background: #fff;
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
/*
  ========================================
  Card
  ========================================
*/

.card {
  display: inline-block;
  border-width: 10px;
  border-style: outset;
  /*
  box-shadow: 10px 5px 5px blue;
  */
}
.card-title {
  font-size: 24px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.card-info {
  font-size: 16px;
}
.card-image-object {
  height: 375px;
  width: 250px;
}
.card-action-button {
  opacity: 0.4;
  position: absolute;
}
.card-default-strikeout {
  padding-left: 5px;
  color: red;
  text-decoration: line-through;
  display: inline;
}

/*
  ========================================
  Modals
  ========================================
*/
.related-products-modal {
  /* background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute; */

  position: absolute;
  width: 100%;
  height: 100%;
  /* margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  z-index: 99999;
  pointer-events: none;
  overflow-x: auto; */
  background-color: rgba(0, 0, 0, 0.25);
}
.related-products-modal-content {
  color: black;
  text-align: center;
  background-color: white;
}
.related-products-modal-title {
  font-size: 48px;
  padding-bottom: 40px;
}
.related-products-modal-current-product-section {
  display: inline-block;
  left: 0px;
}
.related-products-modal-current-product-section {
  display: inline-block;
  left: 0px;
}
.related-products-modal-current-product-section {
  display: inline-block;
  right: 0px;
}