/*
  ========================================
  Font
  ========================================
*/
@font-face {
  font-family: 'Mona Sans';
  src:
  url('../../Fonts/Mona\ Sans/Mona-Sans.woff') format('woff supports variations'),
  url('../../Fonts/Mona\ Sans/Mona-Sans.woff') format('woff-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
  }

/*
  ========================================
  List
  ========================================
*/
.card-row {
  min-width: 960px;
  max-height: 100%;
  padding: 36px 0 14px 0;
}
.card-grid {
  margin: 0 auto;
  padding-left: 20%;
}
/*
  ========================================
  Card
  ========================================
*/

.card {
  display: inline-flex;
  border-width: 10px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.card:hover {
  cursor: pointer;
  box-shadow: 0 0 25px rgba(243, 237, 237, 0.288);
  transition: .7s;
}
.card-title {
  font-size: 24px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: white;
}
.card:hover .card-info {
  color: #bb9d7bb3;
  transition: .7s;
}
.card-info {
  font-size: 16px;
  color: white;
}
.card-image-object {
  height: 375px;
  width: 250px;
}
.card:hover .card-image-object {
  opacity: 50%;
  background-color: #bb9d7bb3;
  transition: .7s;
}
.card-default-strikeout {
  padding-left: 5px;
  color: red;
  text-decoration: line-through;
  display: inline;
}
.add-product-card {
  width: 260px;
  height: 500px;
  font-size: xx-large;
  text-align: center;
  border: double;
  color: white;
  position: relative;
  padding-top: 20;
}
.add-product-card:hover {
  color: #bb9d7bb3;
}
/*
  ========================================
  Buttons
  ========================================
*/
.card-action-button{
  position:relative;
  display: block;
  border: none;
  opacity: 0%;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
  top: 30px;
  left: 90%;
  padding:0px;
  margin:0px;
}
.card-action-button:hover {
  -webkit-text-stroke: 2px #bb9d7bb3;
  color: #bb9d7bb3;
}
.card-action-button:hover .card-image-object{
  background-color: #bb9d7bb3;
  opacity: 50%;
}
.card:hover .card-action-button {
  opacity: 100%;
  transition: .7s;
}
.modal-close-button {
  margin: 10px;
  position: relative;
  left: 40%;
  border: none;
  color: #bb9d7bb3;
  background-color: transparent;
  font-size: 20px;
}
.modal-close-button:hover {
  cursor: pointer;
}
.add-the-product {
  width: 250px;
  margin-left: 30px;
  background-color: #bb9d7b;
  color: white;
  border: none;
  font-size: 15px;
  height: 50px;
  transition: all .2s ease-in;
  font-family: "Mona Sans";
}
.add-the-product:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
/*
  ========================================
  Modals
  ========================================
*/
.related-products-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, .5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  cursor:default;
}
.related-products-modal-content {
  color: white;
  text-align: center;
  background-color: #252525;
  width: auto;
  height: auto;
  padding: 10px;
  padding-bottom: 40px;
  border: groove;
}
.related-products-modal-title {
  font-size: 48px;
  position: relative;
}
.related-products-modal-header {
  padding-bottom: 50px;
}
.related-products-modal-section-product-name{
  font-size: 28px;
  padding-bottom: 5px;
}
.related-products-modal-current-product-section {
  display: inline-block;
}
.related-products-modal-characteristic-section {
  display: inline-block;
    padding-left: 130px;
    padding-right: 130px;
}
.related-products-modal-compared-product-section {
  display: inline-block;
}
.related-products-modal-values {
  padding-top: 20px;
  font-size: 20px;
}
.related-products-modal-section-product-style {
  font-size: 22px;
  color: #bb9d7bb3;
}
/*
  ========================================
  Carousel
  ========================================
*/
.related-products-carousel {
  overflow: hidden;
  width: 1042px;
  height: 530px;
}
.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}
.carousel-buttons {
  background-color: transparent;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 200px;
  font-size: 60px;
  color: #bb9d7bb3;
}
.carousel-right-button {
  right: 42px;
  position: relative;
}
.carousel-buttons:hover {
  cursor: pointer;
  color: white;
}
