/*
  ========================================
  Card in list
  ========================================
*/

.card {
  display: inline-block;
  border-width: 10px;
  border-style: outset;
}
.card-title {
  font-size: 24px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.card-info {
  font-size: 16px;
}
.card-image-object{
  height: 375px;
  width: 250px;
}
.card-action-button{
  opacity: 0.4;
  position: absolute;
}
.card-default-strikeout{
  padding-left: 5px;
  color: red;
  text-decoration: line-through;
  display: inline;
}